@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
pequenas telas: até 600px
celular: 601px até 767px
tablet: 768px até 991px
desktop:1200px até 1439px
tv: 1920px até ....
*/

 @media print { /* Impressão */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessario */   
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #table {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}

 }

@media  screen and (min-width: 768px) and (max-width: 991px) { /* Tablet */
   body {
    background-image: url(../imagens/back-tablet.jpg);
   }

   #phone {display: none;}
    #table {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {display: none;}
    #table {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
    
}

@media screen and (min-width: 1200px) { /* Telas Grandes */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 500px;
    }

    #phone {display: none;}
    #table {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
        
}